<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP ToDo List JSON</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/d67383daac.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <div class="mainContainer">
            <div class="listContainer">
                <div>
                    <h1>TO-DO LIST</h1>
                </div>
                <ul>
                    <li v-for="subject in boolean_subjects">
                        <div class="subjectContainer">
                            <div class="subject" @click="cross(subject)" :class="{
                                done: subject.done
                            }">
                                {{ subject.subject }}
                            </div>
                            <div class="trashContainer">
                                <a href="#"><i class="fa-regular fa-trash-can"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <form action="create.php" method="POST" @submit.prevent="addSubject()">
                        <input minlength="1" required v-model="userSubject" id="newSubject" name="newSubject" type="text" placeholder="inserisci la nuova materia">
                        <button type="submit">
                            Add new subject
                        </button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./script.js"></script>
</body>

</html>