* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
}

.mainContainer {
    width: 100%;
    height: 100%;
    background-color: rgb(55, 0, 255);
}

.listContainer {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    right: 50%;
}

.listContainer ul {
    list-style: none;
}


.listContainer ul li {
    padding: 5px 30px;
    border: 1px solid gray;
    background: white;
}

.subjectContainer {
    display: flex;
    justify-content: space-between;
}

.subjectContainer .subject {
    cursor: pointer;
}

.subjectContainer .trashContainer {
    padding-left: 31px;
}

.subjectContainer .trashContainer a {
    color: red;
}

.done {
    text-decoration: line-through;
}

